.main {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;

  color: black;

  background: rgb(64, 120, 138);
  background: linear-gradient(
    180deg,
    rgba(64, 120, 138, 1) 0%,
    rgba(139, 171, 179, 1) 41%,
    rgba(220, 169, 164, 1) 100%
  );

  border: 5px solid black;
  margin-bottom: 2%;
  margin-top: 2%;

  font-size: 2rem;
}
