.ulList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ulList li:hover {
  background-color: white;
}

.ulList {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  column-gap: 1em;
}

.navMain {
  display: flex;
}

.menuImg {
  margin: 1%;
}

.line{
  width: 100%;
  height: 5px;
  background: black;
  margin-bottom: 2%;
}