.ulList {
  list-style-type: none;
  padding: 10px;
  margin: 0;

  display: flex;
  flex-direction: row;

  column-gap: 2em;
}

.ulList li:hover {
  scale: 1.2;
}


.navMain {
  display: flex;
  gap: 1%;
}

.menuImg {
  width: 5rem;
  padding-right: 15%;
}

.line{
  width: 100%;
  height: 5px;
  background: black;
  margin-bottom: 2%;
}