/*--------------------*/
/*Navigation*/
.navbar {
  background-color: #00000000;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list a {
  display: flex;
  color: rgb(223, 120, 88);
  text-decoration: none;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.nav-list li :hover {
  background-color: #ffffff;
}

.my-img {
  width: 25%;
  height: 100%;
}
